body{
    background-color: #AD7BE9;
}

.title{
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #E4F1FF;
    font-size: 60px;
    text-shadow: 3px 3px 10px #FB2576;
    text-transform: capitalize;
}

.set{
    margin-top: 20vh;
    padding: 10px;
    height: 50vh;
    width: 100vw;
    text-align: center;
    gap: 20px;
}


.w {
    background-image: url(images/tom1.png);
    background-size: cover;
  }
  
  .a {
    background-image: url(images/tom2.png);
    background-size: cover;
  }
  
  .s {
    background-image: url(images/tom3.png);
    background-size: cover;
  }
  
  .d {
    background-image: url(images/tom4.png);
    background-size: cover;
  }
  
  .j {
    background-image: url(images/snare.png);
    background-size: cover;
  }
  
  .k {
    background-image: url(images/kick.png);
    background-size: cover;
  }
  
  .l {
    background-image: url(images/crash.png);
    background-size: cover;
  }

  .pressed {
    box-shadow: 4px 0px 4px 0 #DBEDF3;
    opacity: 0.5;
  }

.drum{
    text-align: center;
    display: inline-block;
    width: 10%;
    aspect-ratio: 1/1;
    border: 8px solid #C4D9FF;
    background-color: #E8F9FF;
    border-radius: 5%;
    font-size: 3em;
    font-family: "Cherry Cream Soda", system-ui;
    font-weight: 1000;
    font-style: normal;
    color:#FB2576;
    text-shadow: 5px 5px 10px #C5BAFF;
    margin: 7px;
}

footer{
    text-align: center;
}